<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Клиенты</title>
</head>
<body>
<h1> Новый клиент </h1>
<form method="post" action="/customers">
    <label>First name:
        <input type="text" name="first_Name" placeholder="Имя">
    </label>
    <label>Last name:
        <input type="text" name="last_Name" placeholder="Фамилия">
    </label>
    <label>Phone:
        <input type="text" name="phone" placeholder="Номер">
    </label>
    <label>Email:
        <input type="text" name="email" placeholder="Почта">
    </label>
    <label>Adress:
        <input type="text" name="adress" placeholder="Адрес">
    </label>
    <input type="submit" value="Добавить">
</form>
<table>
    <tr>
        <th>ID</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Номер</th>
        <th>Почта</th>
        <th>Адрес</th>
        <th>Действия</th>
    </tr>
    <#list customers as customer>
        <tr>
            <td>${customer.id}</td>
            <td>${customer.first_Name}</td>
            <td>${customer.last_Name}</td>
            <td>${customer.phone}</td>
            <td>${customer.email}</td>
            <td>${customer.adress}</td>
            <td>
                <form method="post" action="/customers/${customer.id}/delete">
                    <input type="submit" value="Удалить">
                </form>
                <a href="customers/${customer.id}">Перейти</a>
            </td>
        </tr>
    </#list >
</table>
</body>
</html>
