<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>${storage.name}</title>
</head>
<body>
<h3> Название склада - ${storage.name} </h3>
<h3> Количество заказов - ${storage.amount_order} </h3>
<h3> Количество кладовщиков - ${storage.amount_storekeeper} </h3>

<br>
<form method="post" action="/storages/${storage.id}/update">
    <label>
        Названиие склада <input name="name" value="${storage.name}">
    </label>
    <label>
        Количество заказов: <input name="amount_order" value="${storage.amount_order}">
    </label>
    <label>
        Количество кладовщиков: <input name="amount_storekeeper" value="${storage.amount_storekeeper}">
    </label>
    <input type="submit" value="Сохранить">
</form>
</body>
</html>
